<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6qV81t0NWalSt5B7Yqy8aVYw9MST_yCc</string>
	<key>GCM_SENDER_ID</key>
	<string>540281549849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exercise6</string>
	<key>PROJECT_ID</key>
	<string>fcm4flutter-85234</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm4flutter-85234.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540281549849:ios:8e63ca6d2e18043e6f2688</string>
</dict>
</plist>