<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6UT5ygISOtdy4EoCaakOtSLxnvF0HAqE</string>
	<key>GCM_SENDER_ID</key>
	<string>620157121458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todofall2024</string>
	<key>PROJECT_ID</key>
	<string>neu-fall-2024-final-huijiadi</string>
	<key>STORAGE_BUCKET</key>
	<string>neu-fall-2024-final-huijiadi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620157121458:ios:53fa5b35bb9886b7716aab</string>
</dict>
</plist>